body{
    background: linear-gradient(#000B42 70%, white 30%);
    margin: 0;
    padding: 0;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.landscape{
    width: 100%;
    margin: 0;
    padding: 0;
}

p {
    text-align: center;
    font-size: 60px;
    margin-top: 0px;
  }

.main {
    text-align: justify;
    border: 10px solid;
    border-color:  lightgray;
    font-size: 34px;
}

.inline-block {
    display: inline-block;
    position: center;
    margin: 16px 4px;
 }